.blank{
    width:80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background: linear-gradient(145deg,skyblue,white);
}

.blank h1{
    font-size: 2rem;
    color: red;
    font-family:serif;
    font-weight: bolder;
}

.blank .addProject{
    font-size: 1.2rem;
    color: white;
    background: black;
    outline: none;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    outline: none;
}
.addProject:hover{
    background: lightblue;
    color: black;
    cursor: pointer;
}