.sidebar{
    width:20%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    background: #000;
}
.sidebar h1{
    font-size: 2rem;
    color: white;
    font-family: serif;
    text-align: center;
    font-weight: bold;
    margin: 1.5rem 0;

}
.sidebar .addProject{
    font-size: 1.1rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 4px;
    background: gray;
    outline: none;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

}
.addProject:hover{
    background: white;
    color: black;
}
.side-heading{
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    margin: 1.4rem 0;
    border-bottom: 2px solid white;
}

.side-projects{
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem  0;
    cursor: pointer;

}